
<fieldset class="border p-3">
    <br />
    <div class="row g-2 mb-4">
        <div class="col-sm-2">
            <label for="job_id" class="">JOB ID*</label>
            <input type="text" id="job_id" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="job_date" class="">JOB DATE</label>
            <input type="date" id="job_date" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="vessel_name" class="">VESSEL/VOL NAME</label>
            <input type="text" id="vessel_name" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="mode" class="">MODE</label>
            <input type="text" id="mode" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="job_lock_day" class="">JOB LOCK DAY</label>
            <input type="date" id="job_lock_day" class="form-control">
        </div>
    </div>

    <br />
    <div class="row g-2 mb-4">
        <div class="col-sm-2">
            <label for="goods_type" class="">GOODS TYPE</label>
            <input type="text" id="goods_type" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="mbl" class="">MBL</label>
            <input type="text" id="mbl" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="etd" class="">ETD*</label>
            <input type="date" id="etd" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="eta" class="">ETA*</label>
            <input type="date" id="eta" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="unlock" class="">UNLOCK</label>
            <input type="text" id="unlock" class="form-control">
        </div>
    </div>

    <br />
    <div class="row g-2 mb-4">
        <div class="col-sm-2">
            <label for="issue_date" class="">ISSUE DATE</label>
            <input type="text" id="issue_date" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="on_board_date" class="">ON BOARD DATE</label>
            <input type="text" id="on_board_date" class="form-control">
        </div>
        <div class="col-sm-4">
            <label for="etd" class="">AGENT*</label>
            <input type="text" id="agent" class="form-control">
        </div>
    </div>

    <br />
    <div class="row g-2 mb-4">
        <div class="col-sm-4">
            <label for="port_of_load" class="">PORT OF LOAD</label>
            <input type="text" id="port_of_load" class="form-control">
        </div>
        <div class="col-sm-4">
            <label for="carrier" class="">CARRIER*</label>
            <input type="text" id="carrier" class="form-control">
        </div>
    </div>

    <br />
    <div class="row g-2">
        <div class="col-sm-4">
            <div class="row-sm-2">
                <label for="port_of_destination" class="">PORT OF DESTINATION</label>
                <input type="text" id="port_of_destination" class="form-control">
            </div>
            <br />
            <div class="row-sm-2">
                <label for="port_of_delivery" class="">PORT OF DELIVERY</label>
                <input type="text" id="port_of_delivery" class="form-control">
            </div>
            <br />
            <div class="row-sm-2">
                <label for="place_of_delivery" class="">PLACE OF DELIVERY</label>
                <input type="text" id="place_of_delivery" class="form-control">
            </div>
            <br />
            <div class="row-sm-2">
                <label for="place_of_receipt" class="">PLACE OF RECEIPT</label>
                <input type="text" id="place_of_receipt" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row-sm-2">
                <label for="your_company" class="">YOUR COMPANY</label>
                <input type="text" id="your_company" class="form-control" style="height: 113px;">
            </div>
            <br />
            <div class="row-sm-2">
                <label for="link" class="">LINK</label>
                <input type="text" id="link" class="form-control" style="height: 113px;">
            </div>
        </div>
    </div>
</fieldset>